@charset "UTF-8";

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: 'SF Pro Display', sans-serif;
}

body{
	margin-top: 5%;
	background-color: #f8f9fa;	
	display: flex;
	flex-direction: column;
}

.content{
	min-height: 100vh;
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	align-items: center;
	justify-content: center;
}

.button-container{
	font-size: 1.5rem;
}

.btn{
	font-size: 2rem;
}

