@charset "ISO-8859-1";
html{
	font-size: 10px;
	font-family: 'SF Pro Display', sans-serif;
}

body{
	max-height: 100vh;
}

.content{
	background-image: url('..//image/Sfondo-checkout.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 5rem;
	height: calc(100vh - 5rem);
	align-content: center;
	position: relative;
}

.card {
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
	color: white;
	font-size: 2.5rem;
}

.card-body{
	font-size: 1.25rem;
	margin-top: 10%;
}

.input-goup{
	font-size: 1.5rem;
	margin-bottom: 0%;
}

.form-control{
	height: 100%;
	font-size: 1.5rem;
	padding: 2% 1%;
}

.input-group-prepend span {
	width: 45px;
	font-size: 1.5rem;
	justify-content: center;
	background-color: #8A9597;
	color: white;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

div.card-footer{
	font-size: 1.5rem;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.check-form{
	margin-top: 5%;
	text-align: center;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

.icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}

.icon {
	position: absolute;
	right: 0px;
	top: -49px;
}

.input-group-append {
    margin-left: -1px;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.hidden-xs{
	color: white;
	font-size: 1.5rem;
}

.row {
    padding: 1.25rem;
    padding-bottom: 0.25rem;
}

.col-md{
	display: flex;
	width: 100%;
}

.marg{
	padding: 1.25rem;
	padding-top: 0rem;
}

.form-pad{
	padding-top: 2%;
	padding-right: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
}

.lab{
	width: 100%;
	color: white;
	font-size: 1.5rem;
	padding-left: 3%;
}

.fa-question-circle{
	width: 18%;
	text-align: center;
	text-decoration: none;
	border-radius: 10%;
	}


.btn.btn-primary{
	font-size: 1.5rem;
	padding-top: 2%;
	padding-right: 10%;
	padding-bottom: 2%;
	padding-left: 10%;
}

.error{
	margin-bottom: 2%;
	font-size: 1.3rem;
	visibility: hidden;
}

.errorC{
	margin-left: 4%;
}

.errorD{
	margin-left: 4%;
}

.hid{
	visibility: hidden;
	display: none;
}

.wh{
	min-width: 370px
}

.primoSpan{
	width:20px; text-align: 
	center; color: white;
}

.secondoSpan{
	margin-left: auto; 
	margin-bottom: 10%;
}

.eArrowFooter{
	margin-bottom: 0;
	bottom: 0;
	position: relative;
	flex: 0;
}
