@charset "UTF-8";

*,
*::before,
*::after{
	
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: 'SF Pro Display', sans-serif;
}

body{
	min-height: 100vh;
}

.carousel{
	margin-top: 5rem;
	height: 100vh;
}

.carousel-inner{
	height: calc(100vh - 5rem);
}

h5.productName{
	font-size: 2.5rem;
}

p.productDescription{
	font-size: 1.5rem;
}

.responseText{
	display: none !important;
}

.carousel-item{
	background-color: #000;
}

@media (max-width: 700px){
	
	.imageSlider{
		display: none !important;
	}
	
	.responseText{
		width: 100%;
		height: 100%;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: #fff; 
	}
	
	.productDescription{
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.textResp:hover{
		text-decoration: none;
	}
	
	.productDescription:hover{
		color: #d1d1d1;
	}
	
	.title{
		font-size: 2.5rem;
	}

	.carousel-item{
		background-color: #000;
	}
}