@charset "UTF-8";

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: 'SF Pro Display', sans-serif;
}

body{
	margin-top: 5%;
	background-color: #f8f9fa;	
	display: flex;
	flex-direction: column;
}

.image{
	height: 150px;
	max-width: 100%;
	min-height: 30%;
	transition: transform .1s;
}

.doc-title-sm {
	margin-left: 1%;
	margin-bottom: 1%;
	font-size: 1.5rem;
	font-weight: 500;
	color: #adb5bd;
	text-transform: uppercase;
}

.image:hover{
	transform: scale(1.1);
}

a.title{
	text-decoration: none;
}

.card-body{
	position: relative;
	margin-top: 1%;
	margin-right: 10%;
	margin-left: 10%;
	padding: 1%;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: #fff;
}

.ordinamento{
	margin-left: 10%;
	margin-right: 10%;
	display: table;
	vertical-align: middle;
	padding: 0;
}

.titleSelect{
	font-size: 1.5rem;
	display: table-cell;
	vertical-align: middle;
}

.custom-select{
	margin-left: 1%;
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#imageContainer{
	text-align: center;
	display: block;
}

.form-group{
	font-size: 1.5rem;
	width: 55%;
	text-align: center;
}

.category{
	text-align: left;
	margin-top: 0;
}

.title{
	font-size: 2rem;
}

.one-line{
	display: flex;
}

.rating-wrap{
	margin-bottom: 0%;
}

a.btn.btn-primary{
	font-size: 1.5rem;
}

span.price.h5{
	font-size: 2rem;
}

.order{
	display: grid;
	font-size: 1.5rem;
	text-align: center;
	margin: 0 -.5%;
	align-items: center;
	justify-content: center;
}

.cent{
	display: table-cell;
	vertical-align: middle;
}

a.small.link{
	margin-top: -50%;
}

.content{
	min-height: 100vh;
}

.description{
	margin-top: auto;
	margin-bottom: auto;
}

.acquistaForm{
	font-size: 1.5rem;
}

.btn{
	font-size: 1.5rem;
}

.tot-prezzo{
	margin-top: 1%;
	display: table;
	vertical-align: middle;
	padding: 0;
}

.bottone-cont{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	text-align: center;
}


.eArrowFooter{
	margin-bottom: 0;
	bottom: 0;
	position: relative;
	flex: 0;
}

@media (max-width: 998px){
	body{
		margin-top: 7%;
	}
}

@media (max-width: 727px){
	body{
		margin-top: 9%;
	}
}

@media (max-width: 564px){
	body{
		margin-top: 11%;
	}
}

@media (max-width: 450px){
	body{
		margin-top: 13%;
	}
}
}