@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

body{
	background-color: #f8f9fa;
}

.body-mar{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.single-product{
	display: grid;
    grid-template-columns: 17% auto;
  	grid-gap: 1%;
    overflow: none;
    height: auto;
}

.product-line{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

div.img-product{
	 text-align:center;	
	 width: 100%;
	 height: 100%;
	 max-width: 200px;
	 margin: auto 5%;
	 min-width: 169px;
	 border: none;
}

.img-size{
	height: 200px;
}


.spec-product{
	display: grid;
    grid-template-columns: auto 35%;
	text-align: left;
	padding: 15px;
}

.info-product{
	text-align:left;
	top: 50%;
}

.info-element-nome{
	
}

.info-element-categoria{
	margin-top: -2.5%;
}

.buy-product{
	text-align: center;
	margin-left: 25%;
	margin: auto 25%;
}

.price{
	font-size: 2rem;	
}

.btn-primary{
	min-width: 154px;
}
	
	
@media (max-width: 998px){
	.img-product{
    max-width: 169px;
	}
	.spec-product{
	display: grid;
    grid-template-columns: auto;
	text-align:left;
	padding: 15px;
	}
	.info-product{
	display: flex;
	text-align:center;
	grid-row: 1 / 2;
    max-height: 100px;
	}
	.info-product .desc{
	display: none;
	}
	.info-product .info-element{
	 margin-right: auto;
	 margin-left:auto;
	}
	.buy-product{
	text-align:right;
	margin: auto;
	grid-row: 2 / 3;
	display: grid;
    grid-template-columns: auto;
	}
	
	.buy-product .info{
	grid-row: 1 / 2;
	text-align:center;
	}
	.buy-product .carrello{
	grid-row: 2 / 3;
	width: 200px;
	}
 }
 
 @media (max-width: 650px){
 
 	.single-product{
 	grid-template-columns: 17% auto auto;
 	}
 	.spec-product{
 	grid-column: 3 / 4;
 	}
	.info-none{
	display:none;
	}
 
 }
}