@charset "ISO-8859-1";


.body-mar{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#product-specific{
	display: grid;
	grid-template-columns: auto auto;
  	grid-gap: 0;
    overflow: none;
    height: auto;
}

.text-left{
	width: 100%;
	height: 100%;
	text-align: left;	
}

.text-right{
	width: 100%;
	height: 100%;
	text-align: right;
}
.single-product{
	display: grid;
    grid-template-columns: 17% 15% auto 15%;
  	grid-gap: 1%;
    overflow: none;
    height: auto;
}

.product-line, #product-specific{
    border-width:0px 0px 1px 0px;
    border-style: solid;
    border-color: #2f2f2f;
    padding-top: 10px;
    padding-bottom: 10px; 
}

div.img-product{
	 text-align:center;	
	 width: 100%;
	 height: 100%;
	 max-width: 200px;
	 margin-top: auto;
	 margin-bottom: auto;
	 min-width: 169px;
}

.img-size {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  width: 100%;
  height:100%;
}

.info-product{
	margin-top: auto;
  	margin-bottom: auto;
	text-align: left;
	padding: 15px;
}

.quantity-product{
  	margin-top: auto;
  	margin-bottom: auto;
  	text-align:center;
}

.form-control{
	width: 85px;
	margin-left: auto;
  	margin-right: auto;
}

.btn-secondary{
	margin-top: 25px;
	margin-left: auto;
  	margin-right: auto;
}

.form-group{
  margin-left: auto;
  margin-right: auto;
}

.price{
	text-align: right;
}
.form-group{
	width: 15%;
}

@media (max-width: 960px){
	.info-product .desc{
	display: none;
	}
}
	
	@media (max-width: 787px){
	.single-product{
    grid-template-columns: 35% auto;
	}
	
	.info-product{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	margin-left: 0;
  	margin-right: auto;
  	padding: 0;
	width: 169px;
	text-align:center;
	}
	
	.info-element{
	margin: auto;
	}
	
	.cate-none, .info{
	display: none;
	}
	
	.img-product{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	}
	
	.quantity-product{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	}
}

/*Valutare come fare (se rendere tutto molto più piccolo in stile amazon)*/

@media (max-width: 455px){
	
}
	